

body {
background-color: #fce5ffd3;   
color:#fb6f92;
font: 15px; font-family: 'Arsenal';

}



img {
width: 516px;
display: block;
margin-left: auto;
margin-right: auto;
}


table {
border:0.5px solid rgb(0, 0, 0);
background-color: #eeffee;
margin-left: auto;
margin-right: auto;
}

th, td {
border:0.5px solid rgb(38, 0, 91);
}

h1 {
  font-family: 'Dokdo';font-size: 75px;

}

h2 {
  font-family: 'Dokdo'; font-size: 50px;
  color:#957dad;

}

ul {
  color:rgb(62, 7, 53)
}

figure {
  color:#a7bed3

}
p {
    font-family: 'Arsenal' ; font-size: 18px;
    top: 10px;
    right: 50px;
    color:rgb(62, 7, 53)

  }
